.styling {
    position: relative;
    display: block;
    min-width: 100%;
    background-color: rgb(238, 238, 238);
    padding: 30px;
    font-size: 20px;
    border-radius: 10px;
    color: rgb(136, 54, 54);
}

.footer {
    background-color: rgb(250, 162, 0);
    /* margin-top: 65px; */
}

.footer-dark {
    background-color: rgb(207, 90, 47);
}

.green {
    background-color: green;
}

.contact {
    width: 300px;
    height: 460px;
}
