nav {
    font-family: "AGRANDIR";
}

.font {
    font-family: 'Montserrat', sans-serif;
}

.login {
    background: url("assets/login.png");
    background-size: cover;
    width: 400;
    height: 350px;
    margin-left: 30px;
    margin-top: 120px;
}


/* CSS for signup */

h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.main-form {
    width: 410px;
    margin: auto;
}

.book {
    margin-top: 10px;
}

.form-rounded {
    border-radius: 2rem;
}

.form-rounded1 {
    border-radius: 1rem;
}

.level {
    margin-top: 80px;
    margin-left: 0px;
}
